<p id="notice"><%= notice %></p>

<p>
  <b>Owner:</b>
  <%= @project.owner %>
</p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Github url:</b>
  <%= @project.github_url %>
</p>

<p>
  <b>Watchers:</b>
  <%= @project.watchers %>
</p>

<p>
  <b>Forks:</b>
  <%= @project.forks %>
</p>

<p>
  <b>Nbp report:</b>
  <%= @project.nbp_report %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
