<p id="notice"><%= notice %></p>

<%desc = @project.nbp_report_to_hash['description']%>

<div class="hero-unit">
  <div class="score-ribbon"><div class="ribbon"><div class="ribbon-stitches-top"></div>
	<strong class="ribbon-content"><h1> Score <br><%= @project.final_score %></h1></strong>
  <div class="ribbon-stitches-bottom"></div></div></div>

  <h1 style="font-size: <%=70 - @project.name.length%>px;"><%= @project.name %></h1>
  <p><%= link_to @project.name, @project.url%> by <%= @project.owner %></p>
  <br>

  <p><%= desc.capitalize + (desc[-1] == "." ? "" : ".") if desc  %></p>

  <p><%= humanized_description(@project) %></p>


  <p>
	<%= link_to '<i class="icon-arrow-left"></i> Go Back'.html_safe, projects_path+'#project-'+@project.id.to_s, class: "btn btn-primary btn-large"%> 
	<%= link_to '<i class="icon-home"></i> Homepage'.html_safe, @project.url, class: "btn btn-large"%> 
	<%= link_to '<i class="icon-eye-open"></i> Source Code'.html_safe, @project.url, class: "btn btn-large"%> 
	<% if is_admin? %>
    <%= link_to '<i class="icon-pencil"></i> Edit  '.html_safe, edit_project_path(@project), class: "btn btn-large btn-warning" %>
    <%= link_to '<i class="icon-trash"></i>  Delete'.html_safe, @project, confirm: 'Are you sure?', method: :delete, class: "btn btn-large btn-danger" %>
    <% end %>
  </p>
</div>



<div class="page-header">
  <h1>NBP Report <small>occurrences of best practices infractions</small></h1>
</div>

A total of <%= @project.nbp_report_to_mx_hash[:total_files_analyzed] %> were analyzed.
<%= @project.nbp_report_to_mx_hash[:nbps] %>

<table class="table table-striped table-bordered table-condensed">
<tr>
  <th>Best Practice Description</th>
  <th>Errors found</th>
  <th>NBP Score</th>
</tr>
<% 34.times do |i| ; m = @project.nbp_report_to_mx_hash[i+1] %>
  <tr class="<%= 'red' if m[:r].to_i > 499%>">
    <td><%= m[:l].gsub("_"," ").capitalize %></td>
    <td><%= m[:o] %> errors ( <%= m[:n] %> files analyzed )</td>
    <td><%= m[:r] %></td>
  </tr>
<% end %>
</table>
