<p id="notice"><%= notice %></p>

<%desc = @project.nbp_report_to_hash['description']%>

<div class="hero-unit">
  <div class="score-ribbon"><div class="ribbon"><div class="ribbon-stitches-top"></div>
	<strong class="ribbon-content"><h1> Score <br><%= @project.nbp_report_to_hash['rbp_score'] %></h1></strong>
  <div class="ribbon-stitches-bottom"></div></div></div>

  <h1><%= @project.name %></h1>
  <p><%= link_to @project.name, @project.url%> by <%= @project.owner %></p>
  <br>

  <p><%= desc.capitalize + (desc[-1] == "." ? "" : ".") if desc  %></p>

  <p>This Project has <%= @project.watchers %> watchers and <%= @project.forks %> forks on GitHub.</p>


  <p>
	<%= link_to '<i class="icon-arrow-left"></i> Go Back'.html_safe, projects_path+'#project-'+@project.id.to_s, class: "btn btn-primary btn-large"%> 
	<%= link_to '<i class="icon-home"></i> Homepage'.html_safe, @project.url, class: "btn btn-large"%> 
	<%= link_to '<i class="icon-eye-open"></i> Source Code'.html_safe, @project.url, class: "btn btn-large"%> 
	<% if is_admin? %>
    <%= link_to '<i class="icon-pencil"></i> Edit  '.html_safe, edit_project_path(@project), class: "btn btn-large btn-warning" %>
    <%= link_to '<i class="icon-trash"></i>  Delete'.html_safe, @project, confirm: 'Are you sure?', method: :delete, class: "btn btn-large btn-danger" %>
    <% end %>
  </p>
</div>



<p>
  <b>Watchers:</b>
  <%= @project.watchers %>
</p>

<p>
  <b>Forks:</b>
  <%= @project.forks %>
</p>


<div class="page-header">
  <h1>NBP Report <small>occurrences of best practices infractions</small></h1>
</div>

<div id="nbp_report" class="boxed">
  <% @project.nbp_report_headers_array.each_with_index do |header,i| -%>
    <p>
      <b><%= header %></b>
      <%= @project.nbp_report_values_array[i] %>
    </p>
  <% end -%>
</div>
